<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>@Model.Sender ToDo List</h1>
    <p>Item1:@Model.Recipient</p>
    <p>Item2:@Model.Recipient</p>
    <p>Item3:@Model.Recipient</p>
  </body>
</html>    