 @using ToDoList.Models;
@model List<ToDoList.Models.Item>

<h1>Items</h1>
@foreach (Item item in Model)
{
  <ul>
    @Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })
  </ul>
}  